@using HotelManager.Core.Models.Room
@model AddRoomFormModel

@{
    ViewData["Title"] = "Add New Room";
}

<!-- Room Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow @*zoomIn*@" data-wow-delay="0.1s" src="~/img/about-1.jpg" style="margin-top: 0%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow @*zoomIn*@" data-wow-delay="0.3s" src="~/img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow @*zoomIn*@" data-wow-delay="0.5s" src="~/img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow @*zoomIn*@" data-wow-delay="0.7s" src="~/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow @*fadeInUp*@" data-wow-delay="0.2s">
                    <h6 class="section-title text-center text-primary text-uppercase">@ViewData["Title"]</h6>
                <h1 class="mb-5">Start <span class="text-primary text-uppercase"> Exploring</span></h1>
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" value="@Model.Number" class="form-control" id="number" autocomplete="number" aria-required="true" placeholder="Number" asp-for="@Model.Number">
                                    <label for="number">Room Number</label>
                                    <span asp-validation-for="@Model.Number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" value="@Model.Capacity" class="form-control" id="capacity" autocomplete="capacity" aria-required="true" placeholder="First Name" asp-for="@Model.Capacity">
                                    <label for="capacity">Capacity</label>
                                    <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-floating">
                                    <select asp-for="RoomTypeId" class="form-control" id ="roomtype">
                                        @foreach (var type in Model.RoomTypes)
                                        {
                                            <option value="@type.Id" placeholder="">@type.Type</option>
                                        }
                                    </select>
                                    <label for="roomtype">Type of Room</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="checkbox" value="@Model.IsFree" style="height: 40px; width: 40px" @(Model.IsFree?"checked='checked'":"") id="isfree" asp-for="@Model.IsFree">
                                    <label style="margin-left: 40px" for="isfree">Is It Available</label>
                                    <span asp-validation-for="@Model.IsFree" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" value="@Model.PriceForAdultBed" class="form-control" id="priceForAdultBed" autocomplete="priceForAdultBed" aria-required="true" placeholder="Price For Adult Bed" asp-for="@Model.PriceForAdultBed">
                                    <label for="priceForAdultBed">Price For Adult Bed</label>
                                    <span asp-validation-for="@Model.PriceForAdultBed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" value="@Model.PriceForChildBed" class="form-control" id="priceForChildBed" aria-required="true" placeholder="Price For Child Bed" asp-for="@Model.PriceForChildBed">
                                    <label for="priceForChildBed">Price For Child Bed</label>
                                    <span asp-validation-for="@Model.PriceForChildBed" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room End -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}