@using HotelManager.Core.Models.Reservation
@model AddReservationFormModel

@{
    ViewData["Title"] = $"Edit Reservation No:{@Model.Id}";
}

<!-- Booking Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row g-3">
                <div class="col-6 text-end">
                <img class="img-fluid rounded w-75 wow @*zoomIn*@" data-wow-delay="0.1s" src="~/img/about-1.jpg" style="margin-top: 0%;">
                </div>
                <div class="col-6 text-start">
                <img class="img-fluid rounded w-100 wow @*zoomIn*@" data-wow-delay="0.3s" src="~/img/about-2.jpg">
                </div>
                <div class="col-6 text-end">
                <img class="img-fluid rounded w-50 wow @*zoomIn*@" data-wow-delay="0.5s" src="~/img/about-3.jpg">
                </div>
                <div class="col-6 text-start">
                <img class="img-fluid rounded w-75 wow @*zoomIn*@" data-wow-delay="0.7s" src="~/img/about-4.jpg">
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wow @*fadeInUp*@" data-wow-delay="0.2s">
                    <h6 class="section-title text-center text-primary text-uppercase">@ViewData["Title"]</h6>
                    <h1 class="mb-5">Start <span class="text-primary text-uppercase"> Exploring</span></h1>
                                        <form method="post">
                        <div class="row g-3">
                            <div class="col col-md-6">
                                <div class="form-floating">
                                    <select asp-for="RoomNumberId" class="form-control" id="RoomNumberId">
                                        @foreach (var room in Model.Rooms)
                                        {
                                            <option value="@room.Id" placeholder="">@room.Number - @room.RoomType</option>
                                        }
                                    </select>
                                    <label for="RoomNumberId">Room</label>
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <div class="form-floating">
                                    <select asp-for="ClientId" class="form-control" id="UserId">
                                        @foreach (var client in Model.Clients)
                                        {
                                            <option value="@client.Id" placeholder="">@client.FirstName @client.LastName - @client.PhoneNumber.Skip(7)</option>
                                        }
                                    </select>
                                    <label for="ClientId">Main Client</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" value="01/01/2023" class="form-control" id="arrival" autocomplete="arrival" aria-required="true" placeholder="Arrival Date" asp-for="@Model.Arrival">
                                    <label for="arrival">Arrival Date</label>
                                    <span asp-validation-for="@Model.Arrival" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" value="01/01/2023" class="form-control" id="leaving" autocomplete="leaving" aria-required="true" placeholder="Leaving Date" asp-for="@Model.Leaving">
                                    <label for="leaving">Leaving Date</label>
                                    <span asp-validation-for="@Model.Leaving" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="checkbox" name="IsBreakfastIncluded" asp-for="@Model.IsBreakfastIncluded" style="height: 40px; width: 40px" />
                                    <label style="margin-left: 40px" for="IsAdult" asp-for="@Model.IsBreakfastIncluded">Breakfast Included</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="checkbox" name="IsAllInclusive" asp-for="@Model.IsAllInclusive" style="height: 40px; width: 40px" />
                                    <label style="margin-left: 40px" for="IsAllInclusive" asp-for="@Model.IsAllInclusive">Is All Inclusive</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}